
section {
    margin: 0 auto;
}

.label {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 0.3em;
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent);
    margin-bottom: 1.5rem;
}

#contact {
	width: 80%;
    height:567px;
    margin-bottom: 1.5rem;
}

#contact h3 {
	margin-bottom: 5rem;
    text-align: center;
}

#form {
	width: 83%;
	margin: 0 auto;	
}

input:focus, textarea:focus {
	outline:0px !important;
	-webkit-appearance:none;
}

#returnmessage {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#name,#email,#object,#message {
    background-color:transparent;
	border-top: none;
	border-right: none;
	border-bottom: solid 1px #5a5a5a;
	border-left: solid 1px #5a5a5a;
	margin-bottom: 40px;
	padding-left: 20px;
	
	font-family:'Libre Baskerville', serif;
	font-style: italic;
	font-size: 14px;
	color: #808080;
}

#name,#email,#object{
	width: 380px; /*in % ? todo */
	height: 40px;
}

#email {
	margin-left: 50px;
	@media (max-width: 1300px) {
    	margin-left: 0;
  }
}

@media (max-width: 680px) {
	#email {
		margin-left: 0;
	}
}



#message{
	resize:none;
	width: 100%; /*860px; in % ? todo */
	height: 200px;
}

#submit {
    background-color: transparent;
    margin-top: 12px;
    border: none;
    width: 100px; /*in % ? todo  color: #262626;*/
    color: var(--text);
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: 300;
}

#btn {
	position: relative;
	width: 100px; /*in % ? todo */
	height: 50px;
	margin: auto;
	cursor:pointer;
}

#loader{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 120px; /*in % ? todo */
	height: 120px;
	margin: -76px 0 0 -76px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

.gotcha {
	display:none;
}